.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content img {
  width: 70%;
}
.submitBtn {
  font-weight: bold;
  width: 24vh;
  height: 45px;
  background-color: white;
  border: 1px solid gray;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.submitBtn:hover {
  background-color: #4596ff;
  color: #ffffff;
}
.submitBtn:active {
  background-color: #006eff;
  color: #ffffff;
}
